@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black bg-center;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, white 1px, transparent 1px),
      linear-gradient(to bottom, white 1px, transparent 1px);
  }

  @font-face {
    font-family: Main;
    src: url("/fonts/joystix monospace.otf") format("opentype");
    font-display: swap;
  }
}
